In [2]:
import pandas as pd

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_12608\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [15]:
df = pd.read_json('Data/review.json', lines=True)

In [16]:
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [23]:
df[df.duplicated(subset=['user_id', 'business_id', 'stars', 'text', 'date'], keep=False)]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
495992,f-eseFSV4xnvMDuHmRxWOQ,FHIZVv4yXhSAULPkxqsHxQ,zwXT4m9svdg-xh2cKjEp-Q,2,0,0,0,Food was good but service was bad!!!! The mana...,2015-04-10 16:05:49
645298,FmEWJou0hHUiEGCMmThz5Q,FHIZVv4yXhSAULPkxqsHxQ,zwXT4m9svdg-xh2cKjEp-Q,2,0,0,0,Food was good but service was bad!!!! The mana...,2015-04-10 16:05:49
688326,d-2yAAWXkT9iMUcIly1zVQ,FHIZVv4yXhSAULPkxqsHxQ,zwXT4m9svdg-xh2cKjEp-Q,2,0,0,0,Food was good but service was bad!!!! The mana...,2015-04-10 16:05:49
1255202,gZU6syBqLk210QhnwWbSyw,6d4TXsdOZAsw8_h1r730uA,t1H2xPVsbTRu48bZ5TgItw,1,0,0,0,I was home for the holidays and staying with m...,2010-12-27 23:22:50
1279906,6FJ-pUVQsMFHhW4RJltm6w,6d4TXsdOZAsw8_h1r730uA,t1H2xPVsbTRu48bZ5TgItw,1,3,0,0,I was home for the holidays and staying with m...,2010-12-27 23:22:50
1391489,uN7sRdsxIJgmD5REegSpBA,6d4TXsdOZAsw8_h1r730uA,t1H2xPVsbTRu48bZ5TgItw,1,1,0,2,I was home for the holidays and staying with m...,2010-12-27 23:22:50
2661984,lzBHkMZayoGSpIPDOIIEug,3B5wkOgsrjBjXRpGdrmTSA,n3Q7DXPyBzGjPK1l09SomQ,4,0,0,0,"Fox Rehab at-home in Virgina-Northern, Fairfax...",2021-02-01 17:04:06
2736490,CB9ScDB-MYTWVyd1E9dSgw,wAph_egpAXr9ic-A2vnINQ,fiGh8ctcvIRm4Ii2GOtoHQ,2,0,0,0,"We have been to Trax several times before, wit...",2018-07-23 21:43:33
2753763,qcYQmZuP4ywuYmYfcyAuYQ,wAph_egpAXr9ic-A2vnINQ,fiGh8ctcvIRm4Ii2GOtoHQ,2,0,0,0,"We have been to Trax several times before, wit...",2018-07-23 21:43:33
2774499,QacdXke_oZAD662oeFyUxg,3B5wkOgsrjBjXRpGdrmTSA,n3Q7DXPyBzGjPK1l09SomQ,4,0,0,0,"Fox Rehab at-home in Virgina-Northern, Fairfax...",2021-02-01 17:04:06
3113588,1lyNZzBeJXrAMxvZU_-7Aw,T870ZkavUI1rqaO_FrJFiw,mfTyBrvx9uCTSPjmrl8PjA,5,0,0,0,Great hotel in the middle of the French quarte...,2008-08-27 09:49:33
3116545,qkbLeGVNwxY9-5iMDcwZGw,T870ZkavUI1rqaO_FrJFiw,mfTyBrvx9uCTSPjmrl8PjA,5,0,0,0,Great hotel in the middle of the French quarte...,2008-08-27 09:49:33
5474011,XjlaQ5ImGg1uL2XelQA2xw,xZ0ioQJ0Jyo_Uc0FzmyFQQ,O_kAd89gPls-dXda40NWzA,5,0,0,0,My son and I moved here from South Carolina a ...,2019-11-22 07:18:46
5521113,8JcvaBpFPAe7lIVSazi0hQ,xZ0ioQJ0Jyo_Uc0FzmyFQQ,O_kAd89gPls-dXda40NWzA,5,0,0,0,My son and I moved here from South Carolina a ...,2019-11-22 07:18:46
6369843,dVPOp7YLlGaxjT_70GdAQA,HQbMlz5dUFb5CMKAT6p3qg,DB8YfpBxsPlxDcNhfTKOWA,5,0,0,0,Hi! So I googled a center city nailery that cl...,2015-05-08 21:20:09
6531617,9cYYew0rsqN5PeFV5kbOrQ,HQbMlz5dUFb5CMKAT6p3qg,DB8YfpBxsPlxDcNhfTKOWA,5,0,0,0,Hi! So I googled a center city nailery that cl...,2015-05-08 21:20:09

In [5]:
df_bus = pd.read_pickle('Data/business.pkl')

In [6]:
df_bus.isna().sum()

business_id          0
name                 0
address              0
city                 0
state                3
postal_code          0
latitude             0
longitude            0
stars                0
review_count         0
is_open              0
attributes       13744
categories         103
hours            23223
business_id     150341
name            150341
address         150341
city            150341
state           150341
postal_code     150341
latitude        150341
longitude       150341
stars           150341
review_count    150341
is_open         150341
attributes      150341
categories      150341
hours           150341
dtype: int64

In [7]:
df_bus = df_bus.iloc[:, :14]

In [8]:
df_bus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [9]:
df_bus['state'].unique()

array([nan, 'CA', 'MO', 'AZ', 'PA', 'TN', 'FL', 'IN', 'LA', 'AB', 'NV',
       'ID', 'DE', 'IL', 'NJ', 'NC', 'CO', 'WA', 'HI', 'UT', 'TX', 'MT',
       'MI', 'SD', 'XMS', 'MA', 'VI', 'VT'], dtype=object)

In [10]:
df_bus['state'].value_counts()

state
PA     34039
FL     26329
TN     12056
IN     11246
MO     10913
LA      9924
AZ      9912
NJ      8536
NV      7715
AB      5573
CA      5203
ID      4467
DE      2265
IL      2144
TX         4
CO         3
WA         2
HI         2
MA         2
NC         1
UT         1
MT         1
MI         1
SD         1
XMS        1
VI         1
VT         1
Name: count, dtype: int64

In [11]:
df_bus = df_bus[(df_bus['state'] == 'FL') | (df_bus['state'] == 'NV') | (df_bus['state'] == 'CA')]

In [12]:
df_bus[df_bus.duplicated(subset=['business_id'])]

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [13]:
df = df[df['business_id'].isin(df_bus.business_id)]

In [14]:
df.drop(columns=['useful', 'funny', 'cool'])

,review_id,user_id,business_id,stars,text,date
7,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
9,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06
14,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05
19,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27
22,J-4NdnDZ0pUQaUEEwDI9KQ,vrKkXsozqqecF3CW4cGaVQ,rjuWz_AD3WfXJc03AhIO_w,5,I thoroughly enjoyed the show. Chill way to s...,2012-12-04 16:46:20
...,...,...,...,...,...,...
6990269,cACxcUY_AIsQKkpDRXuqnw,MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,3,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48
6990272,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
6990273,zHZ-A1qyKDEgyZMDaD--wg,_XVdmFWSgTN6YlojUxixTA,6WaI-IN8ql0xpEKlb4q8tg,5,We redesigned my moms dress and mad it complet...,2022-01-17 20:59:01
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [ ]:
df.to_csv('')